@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e201e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #5f5e5e; /* Light grey background */
}

/* Handle (draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #fa6743; /* Green handle */
  border-radius: 20px;
}
